<article{{attributes.addClass(classes)}}>
	<div class="event-container">
		<div class="row row-first">
			<div class="event-header">
				{% if content.field_events_event_series|render is not empty %}
					{{ content.field_events_event_series }}
				{% else %}
					{{ content.field_events_event_type }}
				{% endif %}
				<h1 class="title serif">{{ label }}</h1>
			</div>
			<div class="event-image-wrapper">
				{{ content.field_events_image}}
			</div>
		</div>
		{# row: primary content #}
		<div class="grid-parent row-second">
			<div class="grid-item grid-item-1 event-body">
				{{ content.body }}
				{# inset oembed video #}
				<div class="remote-video">{{ content.field_remote_video }}</div>
			</div>
			<div class="grid-item grid-item-2 event-dates col-right">
				<div class="field__label">{{ 'Date & time'|t }}</div>
				{% if content.field_events_event_dates_overrid|render|striptags|trim %}
					<div class="field__item">{{ content.field_events_event_dates_overrid}}</div>
				{% else %}
					<div class="field__item">
						<div class="event-date">{{ custom_date }}</div>
						<div class="event-time">{{ custom_time }}</div>
					</div>
				{% endif %}
			</div>
			{% if content.field_events_rel_places|render|striptags|trim %}
				<div class="grid-item grid-item-3 event-location col-right">
					<div class="field__label">{{ 'Location'|t }}</div>
					{{ content.field_events_rel_places }}
				</div>
			{% endif %}

			{% if content.field_events_rel_places_override|render|striptags|trim %}
				<div class="grid-item grid-item-3 event-location col-right">
					<div class="field__label">{{ 'Location'|t }}</div>
					{{ content.field_events_rel_places_override }}
				</div>

			{% endif %}
			{% if content.field_events_registration.0['#url']|render is not empty %}
				<div class="grid-item grid-item-4 event-register col-right">
					<div class="field__label">{{ 'Registration'|t }}</div>
					{{ content.field_event_registration_copy }}
					<div class="registration-button">
						{% if content.field_events_registration.0['#url']|render is not empty %}
							<a href={{ content.field_events_registration.0['#url'] }} target="_blank">
								{{ content.field_events_registration.0['#title'] }}</a>
						{% endif %}
						{% if content.field_events_registration.1['#url']|render is not empty %}
							<a href={{ content.field_events_registration.1['#url'] }} target="_blank">
								{{ content.field_events_registration.1['#title'] }}</a>
						{% endif %}
					</div>
				</div>
			{% endif %}
			{% if show_security_notice %}
				{% if content.field_security_notice|render is not empty %}
					<div class="grid-item grid-item-5 event-security col-right">
						<div class="field__label">{{ 'Security notice'|t }}</div>
						{{ content.field_security_notice }}
					</div>
				{% endif %}
			{% endif %}
			{% if content.field_events_more_info|render is not empty %}
				<div class="grid-item grid-item-6 event-more-info col-right">
					<div class="field__label">{{ 'For more information'|t }}</div>
					{{ content.field_events_more_info }}
				</div>
			{% endif %}
			{% if content.field_events_accessibility|render is not empty %}
				<div class="grid-item grid-item-8 event-accessibility col-right">
					<div class="field__label">{{ 'Accessibility'|t }}</div>
					{{ content.field_events_accessibility }}
				</div>
			{% endif %}
			{% if content.field_events_sponsorship|render is not empty %}
				<div class="grid-item grid-item-9 event-sponsorship col-right">
					<div class="field__label">{{ 'Event sponsorship'|t }}</div>
					{{ content.field_events_sponsorship }}
				</div>
			{% endif %}
		</div>
		{# related content #}
		{% set news = drupal_block('views_block:related_content-news')|render|trim|length %}
		{% set people = drupal_block('views_block:related_content-people')|render|trim|length %}
		{% set events = drupal_block('views_block:related_content-events')|render|trim|length %}
		{% if (news > 0 or people > 0 or events > 0) %}
			<div class="row row-third">
				<div class="related-container">
					<div class="block-title">{{ 'Related content'|t }}</div>
					<div class="related-group">
						{{ drupal_block('views_block:related_content-events', {'label': true} ) }}
						{{ drupal_block('views_block:related_content-news', {'label': true} ) }}
						{{ drupal_block('views_block:related_content-people', {'label': true} ) }}
					</div>
				</div>
			</div>
		{% endif %}

		{{ content.field_events_embedded_video }}
	</article>
