{% set build = {
  '#type':   'processed_text',
  '#text':    description,
  '#format': 'full_html',
} %}

<article{{attributes.addClass('ac')}}>
{{ event_term }}
	<div class="ac-header">
		<div class="ac-trigger">
			<div class="row row-first">
				<div class="field field-events-event-dates daterange">
          {{ content.field_events_event_dates }}
				</div>
				{% spaceless %}
					<div class="field field-events-rel-places entity-reference field__items">
						{{ content.field_events_rel_places[0]['#node'].field_places_address.locality }}
					</div>
				{% endspaceless %}
			</div>
			<div class="row row-second">
				{% if content.field_events_event_series|render is not empty %}
					{{ node.field_events_event_series|view('name')  }}
				{% else %}
					{{ content.field_events_event_type }}
				{% endif %}
				<h2 class="title serif">{{ label }}</h2>
			</div>
		</div>
		<div class="ac-panel">
			<a href={{ url }}>
				{{ content.field_events_image }}
			</a>
			<div class="event-description">
				<div class="row row-third event-body">
			    {% if node.field_events_summary.value %}
					  {{ content.field_events_summary }}
					{% else %}
{{ build }}
	        {% endif %}
				</div>
				<div class="row row-fourth">
					{% if content.field_events_registration|render %}
						<div class="register">
							<a href={{ content.field_events_registration.0['#url'] }} target="_blank">
								{{ content.field_events_registration.0['#title'] }}
							</a>
							<a href={{ content.field_events_registration.1['#url'] }} target="_blank">
								{{ content.field_events_registration.1['#title'] }}
							</a>
						</div>
					{% endif %}
					<div class="more-info">
						<a href={{ url }}>{{ 'More info'|t }}</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</article>



